body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: #919090;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: #acacac;
    color: black;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
button:active{
    background-color: #e0dfdf;
}

.operator-btn{
    background-color: #f98118;
}

.operator-btn:hover{
    background-color: #212121;
    color: white;
}

.operator-btn-2{
    background-color: #77b7ff;
}

.operator{
    background-color: #212121;
    color: white;
}

.operator:hover{
    background-color: #e0dfdf;
    color: black;
}